/* MARGINS */


        /* GENERAL PADDING */

.pad0 {
  padding: 0px;
}

.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

.pad30 {
  padding: 30px;
}

.pad40 {
  padding: 40px;
}

.pad50 {
  padding: 50px;
}

.pad60 {
  padding: 60px;
}

.pad70 {
  padding: 70px;
}

.pad80 {
  padding: 80px;
}

.pad90 {
  padding: 90px;
}

.pad100 {
  padding: 100px;
}

        /* TOP POSITIVE PADDING */

.padtop0 {
  padding-top: 0px;
}

.padtop10 {
  padding-top: 10px;
}

.padtop15 {
  padding-top: 15px;
}

.padtop20 {
  padding-top: 20px;
}

.padtop30 {
  padding-top: 30px;
}

.padtop40 {
  padding-top: 40px;
}

.padtop50 {
  padding-top: 50px;
}

        /* BOTTOM POSITIVE PADDING */

.padbottom0 {
  padding-bottom: 0px;
}

.padbottom10 {
  padding-bottom: 10px;
}

.padbottom20 {
  padding-bottom: 20px;
}

.padbottom30 {
  padding-bottom: 30px;
}

.padbottom40 {
  padding-bottom: 40px;
}

.padbottom50 {
  padding-bottom: 50px;
}

        /* LEFT POSITIVE PADDING */

.padleft0 {
  padding-left: 0px;
}

.padleft10 {
  padding-left: 10px;
}

.padleft20 {
  padding-left: 20px;
}

.padleft30 {
  padding-left: 30px;
}

.padleft40 {
  padding-left: 40px;
}

.padleft50 {
  padding-left: 50px;
}

        /* RIGHT POSITIVE PADDING */

.padright0 {
  padding-right: 0px;
}

.padright10 {
  padding-right: 10px;
}

.padright20 {
  padding-right: 20px;
}

.padright30 {
  padding-right: 30px;
}

.padright40 {
  padding-right: 40px;
}

.padright50 {
  padding-right: 50px;
}

        /* GENERAL NEGATIVE PADDING */

.padneg0 {
  padding: -0px;
}

.padneg10 {
  padding: -10px;
}

.padneg20 {
  padding: -20px;
}

.padneg30 {
  padding: -30px;
}

.padneg40 {
  padding: -40px;
}

.padneg50 {
  padding: -50px;
}


      /* GENERAL POSITIVE MARGIN */

.mar0 {
  margin: 0px;
}

.mar10 {
  margin: 10px;
}

.mar20 {
  margin: 20px;
}

.mar30 {
  margin: 30px;
}

.mar40 {
  margin: 40px;
}

.mar50 {
  margin: 50px;
}

.mar60 {
  margin: 60px;
}

.mar70 {
  margin: 70px;
}

.mar80 {
  margin: 80px;
}

.mar90 {
  margin: 90px;
}

.mar100 {
  margin: 100px;
}

      /* GENERAL TOP POSITIVE MARGIN */

.martop0 {
  margin-top: 0px;
}

.martop5 {
  margin-top: 5px;
}

.martop10 {
  margin-top: 10px;
}

.martop15 {
  margin-top: 15px;
}

.martop20 {
  margin-top: 20px;
}

.martop30 {
  margin-top: 30px;
}

.martop40 {
  margin-top: 40px;
}

.martop50 {
  margin-top: 50px;
}

.martop60 {
  margin-top: 60px;
}

.martop70 {
  margin-top: 70px;
}

.martop80 {
  margin-top: 80px;
}

.martop90 {
  margin-top: 90px;
}

.martop100 {
  margin-top: 100px;
}

.martop150 {
  margin-top: 150px;
}

.martop200 {
  margin-top: 200px;
}

      /* GENERAL TOP NEGATIVE MARGIN */

.martopneg10 {
  margin-top: -10px;
}

.martopneg20 {
  margin-top: -20px;
}

.martopneg30 {
  margin-top: -30px;
}

.martopneg40 {
  margin-top: -40px;
}

.martopneg50 {
  margin-top: -50px;
}

.martopneg60 {
  margin-top: -60px;
}

      /* GENERAL BOTTOM POSITIVE MARGIN */

.marbottom0 {
  margin-bottom: 0px;
}

.marbottom5 {
  margin-bottom: 5px;
}

.marbottom10 {
  margin-bottom: 10px;
}

.marbottom15 {
  margin-bottom: 15px;
}

.marbottom20 {
  margin-bottom: 20px;
}

.marbottom30 {
  margin-bottom: 30px;
}

.marbottom40 {
  margin-bottom: 40px;
}

.marbottom50 {
  margin-bottom: 50px;
}

.marbottom60 {
  margin-bottom: 60px;
}

.marbottom70 {
  margin-bottom: 70px;
}

.marbottom80 {
  margin-bottom: 80px;
}

.marbottom90 {
  margin-bottom: 90px;
}

.marbottom100 {
  margin-bottom: 100px;
}

      /* GENERAL BOTTOM NEGATUVE MARGIN */

.marbottomneg5 {
  margin-bottom: -5px;
}

.marbottomneg10 {
  margin-bottom: -5px;
}

.marbottomneg20 {
  margin-bottom: -5px;
}

.marbottomneg30 {
  margin-bottom: -5px;
}

.marbottomneg40 {
  margin-bottom: -5px;
}

.marbottomneg50 {
  margin-bottom: -5px;
}


      /* GENERAL LEFT POSITIVE MARGIN */

.marleft0 {
  margin-left: 0px;
}

.marleft10 {
  margin-left: 10px;
}

.marleft20 {
  margin-left: 20px;
}

.marleft30 {
  margin-left: 30px;
}

.marleft40 {
  margin-left: 40px;
}

.marleft50 {
  margin-left: 50px;
}

.marleft60 {
  margin-left: 60px;
}

.marleft70 {
  margin-left: 70px;
}

.marleft80 {
  margin-left: 80px;
}

.marleft90 {
  margin-left: 90px;
}

.marleft100 {
  margin-left: 100px;
}

      /* GENERAL RIGHT POSITIVE MARGIN */

.marright0 {
  margin-right: 0px;
}

.marright10 {
  margin-right: 10px;
}

.marright20 {
  margin-right: 20px;
}

.marright30 {
  margin-right: 30px;
}

.marright40 {
  margin-right: 40px;
}

.marright50 {
  margin-right: 50px;
}

.marright60 {
  margin-right: 60px;
}

.marright70 {
  margin-right: 70px;
}

.marright80 {
  margin-right: 80px;
}

.marright90 {
  margin-right: 90px;
}

.marright100 {
  margin-right: 100px;
}

      /* GENERAL NEGATIVE MARGIN */

.marneg0 {
  margin: -0px;
}

.marneg10 {
  margin: -10px;
}

.marneg20 {
  margin: -20px;
}

.marneg30 {
  margin: -30px;
}

.marneg40 {
  margin: -40px;
}

.marneg50 {
  margin: -50px;
}

      /* CUSTOM COLUMN CLASSES */

.col-centered{
    float: none;
    margin: 0 auto;
}

.full-width {
  max-width: 100%;
  width: 100%;
}