$white:               #FFFFFF;
$black:               #000000;

$dark-gray:           #2D2D2D;
$dim-gray:            #424242;
$gray:                #666666;
$medium-gray:         #999999;
$light-border-color:  #DDDDDD;
$border-color:        #CCCCCC;
$border-color-dark:   #424242;
$light-gray:          #AAAAAA;
$lighter-gray:        #EEEEEE;
$pale-gray:           #FAFAFA;
$dark-blue:			  #095197;

$pos-green:           #57a55c;
$neg-red:             #f55e4e;
$caution-yellow:      #ffea00;

$bold-weight:         600;

$lark-purple:         #803dba;

$active-blue:         #2BAFFF;

$link-blue:           #428BCA;

$body-font:           "proxima-nova", arial, sans-serif;
$font-family-sans-serif:"proxima-nova", arial, sans-serif;
$body-font-spacing:   auto;


$serif-font:          'museo-slab', georgia, serif;
$serif-title-font:    'museo-slab', georgia, serif;
$serif-font-spacing:  0.03em;

$text-white:          #EEEEEE;
$text-black:          #2D2D2D;

$error-background:    #f2dede;
$error-color:         #a94442;

$no-availability-bg:  #e3545b;

$icon-font-path:      "/assets/"; 

$sidebar-slide-duration: .35s;


